:root {
  /* colors */
  --white-50: #f4f4f5;
  --white-100: #eeeef0;
  --white-200: #dadadd;
  --white-300: #b9bac0;
  --white-400: #93949d;
  --white-500: #767681;
  --white-600: #606169;
  --white-700: #4e4e56;
  --white-800: #434349;
  --white-900: #3b3c3f;
  --white-950: #27272a;

  --black-50: #f7f7f8;
  --black-100: #ededf1;
  --black-200: #d7d8e0;
  --black-300: #b5b6c4;
  --black-400: #8c8ea4;
  --black-500: #6e7189;
  --black-600: #595a70;
  --black-700: #48495c;
  --black-800: #3e3e4e;
  --black-900: #373843;
  --black-950: #0c0c0c;

  --blue-50: #eff9ff;
  --blue-100: #def1ff;
  --blue-200: #b6e5ff;
  --blue-300: #75d3ff;
  --blue-400: #2cbdff;
  --blue-500: #00aaff;
  --blue-600: #0083d4;
  --blue-700: #0068ab;
  --blue-800: #00588d;
  --blue-900: #064974;
  --blue-950: #042e4d;

  --yellow-50: #fffdea;
  --yellow-100: #fff7c5;
  --yellow-200: #fff085;
  --yellow-300: #ffe146;
  --yellow-400: #ffcf1b;
  --yellow-500: #ffae00;
  --yellow-600: #e28400;
  --yellow-700: #bb5c02;
  --yellow-800: #984708;
  --yellow-900: #7c3a0b;
  --yellow-950: #481d00;

  --green-50: #edfff5;
  --green-100: #d5ffea;
  --green-200: #aeffd5;
  --green-300: #70ffb6;
  --green-400: #2bfd90;
  --green-500: #00ff7b;
  --green-600: #00c058;
  --green-700: #009648;
  --green-800: #06753d;
  --green-900: #076034;
  --green-950: #00371b;

  /* powershell color */
  --bg: #0c0c0c;

  --black: #000000;
  --dark-blue: #0037da;
  --dark-green: #00aa00;
  --dark-cyan: #00aaaa;
  --dark-red: #aa0000;
  --dark-magenta: #aa00aa;
  --dark-yellow: #aaaa00;
  --gray: #aaaaaa;
  --dark-gray: #555555;
  --blue: #5555ff;
  --green: #55ff55;
  --cyan: #55ffff;
  --red: #ff5555;
  --magenta: #ff55ff;
  --yellow: #ffff55;
  --white: #ffffff;

  /* fonts */
  --font-primary: 'Cascadia Mono', 'Consolas', monospace;
  --font-secondary: 'Open Sans', sans-serif;
  --font-tertiary: 'Lora', serif;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;
  --font-size-3xl: 2.5rem;
  --font-size-4xl: 3rem;
  --font-size-4xl: 3.5rem;
  --font-size-5xl: 4rem;
  --font-size-6xl: 4.5rem;
  --font-size-7xl: 5rem;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* borders */
  --border-width-xs: 0.0625rem;
  --border-width-sm: 0.125rem;
  --border-width-md: 0.1875rem;
  --border-width-lg: 0.25rem;
  --border-width-xl: 0.3125rem;

  --border-radius-xs: 0.125rem;
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 0.75rem;
  --border-radius-xl: 1rem;

  /* line-heights */
  --line-height-none: 1;
  --line-height-tight: 1.25;
  --line-height-snug: 1.375;
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.625;
  --line-height-loose: 2;
  --line-height-3: 0.75rem;
  --line-height-4: 1rem;
  --line-height-5: 1.25rem;
  --line-height-6: 1.5rem;
  --line-height-7: 1.75rem;
  --line-height-8: 2rem;
  --line-height-9: 2.25rem;
  --line-height-10: 2.5rem;

  /* margin top */
  --mt-0: 0rem;
  --mt-1: 0.25rem;
  --mt-2: 0.5rem;
  --mt-3: 0.75rem;
  --mt-4: 1rem;
  --mt-5: 1.25rem;
  --mt-6: 1.5rem;
  --mt-7: 1.75rem;
  --mt-8: 2rem;
  --mt-9: 2.25rem;
  --mt-10: 2.5rem;
  --mt-12: 3rem;
  --mt-16: 4rem;
  --mt-20: 5rem;
  --mt-24: 6rem;
  --mt-32: 8rem;
  --mt-40: 10rem;
  --mt-48: 12rem;
  --mt-56: 14rem;
  --mt-64: 16rem;

  /* spaces */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-xxl: 2.5rem;

  /* transition and animation */
  --transition-duration: 300ms;
  --animation-duration: 1s;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--white-50);
    --color-text: var(--black-950);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black-950);
    --color-text: var(--white-50);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family: var(--font-primary);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-highlight {
  color: var(--blue-500);
}

.section-title {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 28px;
  font-weight: bold;
  text-underline-offset: 10px;
  margin-bottom: 20px;
}
